{% extends "pages/home.html.twig" %}

{% block title %}Admin{% endblock %}

{% block stylesheets %}
    <link href="{{asset('nav_bar.css','css') }}" rel="stylesheet"/>
    <link href="{{asset('header.css','css') }}" rel="stylesheet"/>
    <link href="{{asset('newsletter.css','css') }}" rel="stylesheet"/>
    <link href="{{asset('footer.css','css') }}" rel="stylesheet"/>
    <link href="{{asset('admin_choice.css','css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}

    {% block nav %}
        {{ parent() }}
    {% endblock %}


    <section class="admin">
        <div class="admin-item">
            <div class="admin-image"></div>
            <h2 class="item-title">Compte Entreprise</h2>
            <a href="{{ path("user.create.company") }}" class="admin-button">Add</a>
        </div>
        <div class="admin-item">
            <div class="admin-image"></div>
            <h2 class="item-title">Compte Donnateur</h2>
            <a href="{{ path("user.create.donator") }}" class="admin-button">Add</a>
        </div>

    </section>

    {% block newsletter %}{{parent()}}{% endblock %}
    {% block footer %}{{parent()}}{% endblock %}

{% endblock %}

