{% extends 'pages/home.html.twig' %}

{% block title %} Profile{% endblock %}
    {% block stylesheets %}
        <link href="{{ asset('nav_bar.css','css') }}" rel="stylesheet"/>

        <link href="{{ asset('profile.css','css') }}" rel="stylesheet"/>

    {% endblock %}
{% block body %}
{% block nav %}
    {{ parent() }}
{% endblock %}
<section class="profile-page">
    <h1>Profile</h1>

    <div class="basic-informations">
        <h2>Basic information</h2>
        <div class="basic-informations-items">
            <div class="left-items">
                <div class="info-item">
                    <p><img src="{{ asset('male.svg','profile_images') }}" alt="icon"> <span
                                class="info">{{ app.user.email }}</span>
                    </p>
                    <div class="line"></div>
                </div>
                <div class="info-item">
                    <p><img src="{{ asset('calendar.svg','profile_images') }}" alt="icon"> <span
                                class="info">0{{ app.user.mobilePhone }}</span></p>
                    <div class="line"></div>
                </div>
                <div class="info-item">
                    <p><img src="{{ asset('male.svg','profile_images') }}" alt="icon"> <span
                                class="info">{{ app.user.zone.name }}</span>
                    </p>
                    <div class="line"></div>
                </div>

            </div>
            <div class="right-items">
                <div class="info-item">
                    <p><img src="{{ asset('work.svg','profile_images') }}" alt="icon"><span class="info">
                            {{ app.user.username }}
                        </span>
                    </p>
                    <div class="line"></div>
                </div>
                <div class="info-item">
                    <p><img src="{{ asset('work.svg','profile_images') }}" alt="icon"><span class="info">{{ app.user.category.name }}</span>
                    </p>
                    <div class="line"></div>
                </div>
                <div class="info-item">
                    <p><img src="{{ asset('work.svg','profile_images') }}" alt="icon"><span class="info"></span>
                    </p>
                    <div class="line"></div>
                </div>

            </div>
        </div>
    </div>

    <div class="inventory">
        <h2>inventory</h2>
        <form method="post" class="inventory-items">

            {% for key,value in items %}
                <div class="inventory-item">
                    <div class="item-description">
                        <h3>{{ key }}</h3>

                    </div>
                    <div class="command-buttons">
                        <button type="button" class="plus-button">+</button>
                          <input name="{{ key }}" class="number-item" value="{{ value }}">
                        <button type="button" class="minus-button">-</button>
                    </div>
                </div>
            {% endfor %}
            <div class="add-save-button">
                <button class="save-item">Save</button>
            </div>
        </form>

    </div>
</section>

{% endblock %}

    {% block javascripts %}
        <script src="{{ asset('profile.js','js') }}"></script>
    {% endblock %}




