

{% extends 'pages/home.html.twig' %}

{% block title %}Add Catastrophe{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('nav_bar.css','css') }}" rel="stylesheet"/>
    <link href="{{ asset('adding_company.css','css') }}" rel="stylesheet"/>
    <style>
        body {
            background-image: url("{{asset('background_company.png','adding_company_images')}}");
            background-size: cover;
        }
    </style>
{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}

    <section class="adding_business">
        {% block  nav %}{{ parent() }}{% endblock %}

        <h1>Adding Catastrophe</h1>
        <div class="line"></div>
        <form action="{{ path('home') }}" method="post" class="business-form">

            <label
            ><span class="text-label">Name</span> <input type="text"
                /></label>
            <label
            ><span class="text-label">Description</span> <input type="text"
                /></label>

{#            <label#}
{#            ><span class="text-label">Image</span> <input alt="image" type="image"#}
{#                /></label>#}


            <label>
                <span class="text-label">Besoins</span>

                        {% for besoin in besoins %}
                            <label style="display: inline" for="{{ besoin.id }}">{{ besoin.name }}</label>
                            <input  style="display: inline" id="{{ besoin.id }}" type="checkbox" name="tip1" value="1" />
                        {% endfor %}


            </label>



            <button type="submit" class="add-button">Add</button>
        </form>

    </section>

{% endblock %}
